body{
font-family:Arial, sans-serif;
text-align:center;
padding:15px;
background:#010414;
color:white;
transition: background 0.5s, color 0.5s;
}

body.day{
background:#e0f2fe;
color:#111;
}

h1{
color:#f59e0b;
margin-bottom:10px;
}

.panel{
background:#0f172a;
padding:15px;
margin:10px;
border-radius:15px;
transition: background 0.5s, color 0.5s;
}

body.day .panel{
background:#dbeafe;
color:#111;
}

.balance{
font-size:24px;
color:#22c55e;
margin:5px;
}

button{
padding:10px 15px;
margin:5px;
border:none;
border-radius:8px;
font-size:14px;
background:#f59e0b;
color:black;
cursor:pointer;
}

body.day button{
background:#3b82f6;
color:white;
}

.stat{
font-size:16px;
margin:5px;
}

canvas{
background:#0f172a;
border-radius:10px;
margin-top:10px;
}

body.day canvas{
background:#dbeafe;
}
